.person {
    font-size: 1.3rem;
    width: 100vw;
    height: 430px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.person img {
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.person button {
    color: #444;
    background-color: lightgray;
    text-transform: uppercase;
}